// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap Variables
//@import "bs_variables";

// Custom styles 
// Imported Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Merriweather+Sans|Oswald|Roboto+Slab');
// font-family: 'Roboto Slab', serif;
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Josefin Slab', serif;
// font-family: 'Oswald', sans-serif;

// Custom Variables

$offwhite:  #EEE8D6;
$darkblue:  #022933;
$yellow:    #FFBA00;
$blue:      #0076A3;
$green:     #548C27;
$orange:    #F39856;
$red:       #D14348;
$purple:    #6D73C2;

$font-roboto:   'Roboto Slab', serif;
$font-merri:    'Merriweather Sans', sans-serif;
$font-josefin:  'Josefin Slab', serif;
$font-oswald:   'Oswald', sans-serif;

$body-bg: $offwhite;

$color-main:        $darkblue;
$color-backgrounds: $offwhite;
$headline-color:    $green;
$text-color:        $purple;

$font-main:         'Oswald', sans-serif;
$font-highlighted:  'Oswald', sans-serif;