$color-item-border: $red;
$color-img-border: $red;
$color-team-head: $blue;

.team {
    margin: 0;
    padding: 0;
    list-style: none;
    
    img {
        width: 140px;
        //border: 2px solid $color-img-border;
        float: left;
        margin-right: 10px;
    }
    .item {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;        
        border-top: 1px dotted $color-item-border;

        &:hover {
            background: $yellow;
        }
        &:last-of-type {
            border-bottom: 1px dotted $color-item-border;
        }
        @include clearfix;
    }
    .head {
        margin: 0;
        padding: 0;
        color: $color-team-head;
        font-size: 2rem;
        #introduction & {
            color: $red;
        }
    }
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: $color-main;
    }
}